
<div class="navbar">
  <ul>
    <li><strong>Summer's web</strong></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Portfolio</a></li>
  </ul>
</div>
<div class="container">
  <div class="icons">
    <div class="portfolio-file">
      <a href="#" class="file"
        ><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232481/Portfolio/heart-folder_n3l7ch.png") %><span></span>
          Portfolio
        </span></a
      >
      <a href="#" class="file"
        ><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232483/Portfolio/smiley-folder_iis2qb.png") %><span></span>
          Documents
        </span></a
      >
    </div>

    <div class="profile-browser">
      <a href="#" class="browser"
        ><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232480/Portfolio/browser_cnuc5z.png") %><span
          >Profile Browser</span
        ></a
      >
    </div>
  </div>

  <div class="dock-container">
    <div class="rocket_dock">
      <ul>
        <li>
          <span>Elated</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232482/Portfolio/elated_klt9eb.png") %></a>
        </li>
        <li>
          <span>In Love</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232482/Portfolio/cute_sna7gd.png") %></a>
        </li>
        <li>
          <span>Happy</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232482/Portfolio/happy_iv9ipz.png") %></a>
        </li>
        <li>
          <span>Hungry</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232482/Portfolio/hungry_gxwz74.png") %></a>
        </li>

        <li>
          <span>Whatever</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232484/Portfolio/whatever_chzpsn.png") %></a>
        </li>

        <li>
          <span>Sad</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232482/Portfolio/sad_j1kvhc.png") %></a>
        </li>
        <li>
          <span>Sick</span>
          <a href="#"><%= cl_image_tag("https://res.cloudinary.com/dmpp04azs/image/upload/v1679232483/Portfolio/sick_kbqpnn.png") %></a>
        </li>
      </ul>
      <!-- https://www.youtube.com/watch?v=Schjds08JbA&list=WL&index=1 -->
    </div>
  </div>
</div>
